* {
  background-color: black;
}

.contenedor-principal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: fuchsia;
  border-radius: 20px;
  padding: 20px;
}
.elementos {
  margin: 10px;
  height: 100px;
  width: 150px;
  background-color: yellow;
  border-radius: 20px;
}
p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: yellow;
  color: black;
}
.grande {
  flex-grow: 2;
}
.mediano {
  flex-grow: 1;
}
.pequenho {
  flex-grow: 0.5;
}
