*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* border:1px solid gray; */
}

/* variables */
:root{
  --color-primario:#FB8F1D;
  --color-secundario:#1ABE84;
}

nav{
  font-family: 'Lato', sans-serif;
  display:flex;
  justify-content: space-between;
  margin-top:20px;
}

/* todos los img dentro de nav */
nav img{
  max-width: 40px;
}

.container{
  max-width:900px;
  margin:0 auto;
}

nav ul{
  display:flex;
  align-items: center;
}

nav li{
  list-style: none;
  /* margin:arribaabajo costados */
  margin:0 20px;
  cursor:pointer;
}
/* del nav el elemento de tipo li numero 4 */
nav li:nth-of-type(4){
  margin-right: 5px;
}

nav li:nth-of-type(5){
  margin-left: 5px;
}

button{
  outline:none;
}

.btn-register{
  background-color: var(--color-primario);
  color:white;
  padding:8px;
  border-radius:5px;
  border:2px solid var(--color-primario);
}

.btn-login{
  background-color: white;
  color:var(--color-primario);
  padding:8px;
  border-radius:5px;
  border:2px solid var(--color-primario);
}

/* agregando RWD al menú */

#check{
  /* el check se esconde */
  position:absolute;
  visibility: hidden;
  z-index:-99;
}

.menu{
  transition: 0.5s;
}

.show-menu-btn, .hide-menu-btn{
  cursor:pointer;
  font-size:30px;
  display:none;
}

/* header */
header{
  display:flex;
}

/* izquierda: header-content */
.header-content{
  width:45%;
  padding:30px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* una buena práctica es definir las propiedad comunes para varios elementos ej.
h1,h2,h3,h4,h5,h6 {font-family: 'Lato';} */

h1, label{
  font-family: 'Lato', sans-serif;
  /* font-weight:bold; */
}

.header-content input{
  padding:15px;
  border-radius: 5px;
}

#btn-search{
  background-color: var(--color-primario);
  padding:12px;
  color:white;
  width:40%;
  min-width:150px;
  border-radius:10px;
  font-family: 'Lato', sans-serif;
}

/* derecha: header-img */
.header-img{
  width:55%;
  padding:30px;
}

.header-img > img{
  max-width:100%;
}

@media screen and (max-width:768px){

  /* menu */
  .menu{
    position:fixed;
    background-color:var(--color-secundario);
    width:100%;
    height:100vh;
    top:0;
    right: -100%;/*esto me va a servir para esconder mi menú*/
    text-align:center;
    /* padding: arribayabajo costados */
    padding:100px 0;
    z-index:20;
    /* ya es flex, solamente cambiamos la dirección */
    flex-direction: column;
  }

  .menu li{
    padding:20px;
    font-size:26px;
  }

  .btn-login, .btn-register{
    font-size:26px;
  }

  .hide-menu-btn{
    position:absolute;
    top:50px;
    right:50px;
  }

  .show-menu-btn, .hide-menu-btn{
    display:block;
    padding-right:10px;
  }
  /* la pseudoclase checked hace referencia si mi checkbox esta activado */
  /* ~ este símbolo/selector hace referencia a los elementos que esten después de #check en la estructura, en este caso menu */
  #check:checked ~ .menu{
    right:0;
  }

  /* header */
  header{
    flex-direction: column;
    align-items:center
  }

  .header-content{
    min-height: 300px;
  }
}