*{
  border:0;
  padding:0;
  box-sizing: border-box;
}

.contenedor{
  border:2px solid red;
  display:grid;

  /* 1fr representa una divisi칩n del espacio libre */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: minmax(100px,200px) minmax(100px,200px) minmax(100px,200px); */
  /* minmax(tama침omin, tama침omax) */
  /* repeat(cant_repeticiones, tama침o) */
  grid-template-columns: repeat(3, minmax(150px,300px));

  grid-template-rows: 150px 150px 150px;
  /* column-gap:40px;
  row-gap:20px; */
  gap:10px;

  /* estas columns no van a aplicar */
  grid-auto-columns: 250px;
  grid-auto-rows:100px;
}

.item{
  border:2px solid blue;
}

.item:nth-of-type(1){
  /* grid-column-start:1;
  grid-column-end:3;

  grid-row-start:1;
  grid-row-end:3 */
  grid-column:1/3;
  grid-row:1/3;
}
.item:nth-of-type(4){
  grid-column:1/4;
}