*{
  border:0;
  padding:0;
  box-sizing: border-box;
}

.contenedor{
  border:2px solid red;
  display:grid;

  /* 1fr representa una divisi칩n del espacio libre */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: minmax(100px,200px) minmax(100px,200px) minmax(100px,200px); */
  /* minmax(tama침omin, tama침omax) */
  /* repeat(cant_repeticiones, tama침o) */
  grid-template-columns: repeat(3, minmax(150px,300px));

  grid-template-rows: 150px 150px 150px;
  column-gap:40px;
  row-gap:20px;
}

.item{
  border:2px solid blue;
}