/* etiqueta */
/* , = y */
article, h1{
  background-color:deepskyblue;
}

/* va a referenciar a todos los hijos article que tenga section, pero en cualquier nivel */
/* ' ' => dentro a cualquier nivel*/
section article{
  border:4px solid salmon;
}

/* a los hijos que esten en un primer nivel
> primeros hijos */
ul > li {
  font-family: Arial;
  color:limegreen;
}

nav > ul > ol > li {
  color:mediumpurple;
}

/* .nombre_clase */
.titulo{
  color:red;
  text-decoration: underline;
}

.noticia{
  background-color:yellow;
}

.adicional{
  font-family:Impact;
}

/* #nombre_id,
que es único, es el equivalente a un dni */
#importante{
  background-color:yellowgreen;
  /* Solamente utilicen important en casos de muuuucha necesidad */
  text-decoration: overline !important;
}
/* PSEUDOCLASES,
condicional o estado */

/* de las etiquetas de tipo tr vas a escoger las impares,
odd = impar */
tr:nth-of-type(odd){
  background-color:lightskyblue;
}
/* hemos escogido los elementos de tipo tr pero pares
even = pares */
tr:nth-of-type(even){
  background-color:lightgreen;
}
/* a los párrafos, pero que sean los primeros de su tipo */
p:first-of-type{
  color:orange;
  font-weight:bold;
}
/* selector:nth-of-type(numero) el número referente según los hermanos del mismo que tenga ej
<li></li>
<li></li>
<li></li> <- 3! */
ol > li:nth-of-type(3){
  font-style: italic;
  background-color:rebeccapurple;
  color:lightgray;
}

tr,td,th,table{
  border:2px solid gray;
  border-collapse:collapse;
}

/* table{
  margin:0 auto;
} */

/* nth-of-type(An)
de los n elementos que hay utiliza cada 3 */
/* li:nth-of-type(3n){
  color:tomato;
  background-color: palegreen;
} */

/* nth-of-type(An+B), n comienza desde 0 y va aumentando*/
li:nth-of-type(3n+2){
  color:tomato;
  background-color: palegreen;
}

footer li:hover{
  text-decoration: underline;
}

#btn{
  background-color:lightskyblue;
  color:white;
}
/* hover, va a aplicar cuando el mouse este encima del elemento */
#btn:hover{
  /* pointer = a una manito */
  cursor:pointer;
  background-color: blue;
}

/* BEM - BLOCK ELEMENT MODIFIER */